<script>  
  //window.onload = function() {
    //console.log(localStorage.getItem("playerName"));
    //window.playerName = localStorage.getItem("playerName");
    window.gameName = "<%= @name %>";
  //}

</script>

<div class="row">
  <div class="column">
    <h1>Shooting Gallery Game</h1>
    <h2>Game board: <%= @name %></h2>
    <div id="root">
      <p>React component loading...</p>
    </div>
  </div>
</div>